* {
  font-family: Anton;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
